body {
	margin: 0;
}

.hero-section {
	height: 100px;
	width: 100%;
}

.row {
	display: flex;
}

.container {
	width: 20%;
	position: relative;
}

.container img {
	width: 100%;
	opacity: 1;
	height: auto;
	transition: 0.5s ease-in-out;
}

.row .container:focus,
.row .container:hover {
	transform: scale(1.2);
	z-index: 1;
}

.middle {
	background-color: burlywood;
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
}

.container:hover .middle {
	opacity: 1;
}

.text {
	font-size: 1rem;
	color: white;
	padding: 16px 32px;
}
