body {
	margin: 0;
	font-family: "Nanum Gothic", sans-serif;
}

.hero-section {
	height: 100px;
	width: 100%;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.nav {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.logo {
	width: 60px;
	margin-top: -10px;
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	padding: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 20%;
	position: relative;
	transition: transform 500ms;
	display: block;
}

.container img {
	width: 100%;
	opacity: 1;
	height: auto;
	display: block;
}

.row .container:focus,
.row .container:hover {
	transform: scale(1.2);
	z-index: 1;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.container:hover .middle {
	opacity: 1;
}

.text {
	font-size: 1rem;
	color: white;
	padding: 16px 32px;
}

footer {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 1rem;
	color: inherit;
	padding: 1rem;
	margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
	.container {
		width: 100%;
	}

	.row .container:focus,
	.row .container:hover {
		transform: none;
	}

	.text {
		font-size: 32px;
		padding: 16px 32px;
	}

	footer {
		display: none;
	}
} ;
