body {
	margin: 0;
}

.hero-section {
	height: 100px;
	width: 100%;
}

.row {
	display: flex;
}

.container {
	width: 20%;
}

.container img {
	width: 100%;
}

.row .container:focus,
.row .container:hover {
	transform: scale(1.2);
	z-index: 1;
}

.middle {
	background-color: burlywood;
}

.text {
	font-size: 1rem;
	color: white;
	padding: 16px 32px;
}
